.navbar {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo más oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
}

.nav-link {
  color: white !important;
  transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  color: #FFD700 !important; /* Cambiar color al pasar el cursor y cuando está seleccionado */
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover {
  color: #FFD700 !important; /* Cambiar color al pasar el cursor */
}

.card {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo más oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important; /* Sombra */
}

.card-header {
  color: whitesmoke !important;
}

.card-body {
  color: whitesmoke !important;
}

.dropdown-item {
  font-size: 12px !important;
}

.special-card {
  background-color: azure !important;
}

/* Estilo para el menú colvis en modo oscuro */
.dt-button-collection {
  background-color: #333 !important; /* Fondo oscuro */
}

.dt-button-collection .dt-button {
  color: #fff !important; /* Texto blanco */
}

.dt-button-collection .dt-button:hover {
  background-color: #555 !important; /* Fondo más oscuro al pasar el ratón */
  color: #fff !important; /* Texto blanco */
}

/* Estilo para el texto de la paginación en modo oscuro */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff !important; /* Texto blanco */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #555 !important; /* Fondo más oscuro al pasar el ratón */
  color: #fff !important; /* Texto blanco */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #007bff !important; /* Fondo azul para la página actual */
  color: #fff !important; /* Texto blanco */
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #777 !important; /* Texto gris para los botones deshabilitados */
}

/* Estilo para los botones de DataTables */
.dt-button {
  color: #fff !important; /* Texto blanco */
  background-color: #333 !important; /* Fondo oscuro */
  border: none;
}

.dt-button:hover {
  background-color: #555 !important; /* Fondo más oscuro al pasar el ratón */
  color: #fff !important; /* Texto blanco */
}
