{% extends "layout.html" %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<h1 class="text-center text-light">Perfil de Usuario</h1>
<div class="card mb-4">
  <div class="card-body text-center">
    {% if user.profile_picture %}
    <img src="{{ url_for('static', filename=user.profile_picture) }}" class="rounded-circle mb-3" width="150">
    {% else %}
    <img src="{{ url_for('static', filename='default_profile.png') }}" class="rounded-circle mb-3" width="150">
    {% endif %}
    <h4>{{ user.first_name }} {{ user.last_name }}</h4>
    <p>{{ user.bio }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Teléfono:</strong> {{ user.phone_number }}</p>
    <p><strong>Dirección:</strong> {{ user.address }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ user.birthday }}</p>
    <p><strong>Género:</strong> {{ user.gender }}</p>
    <a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary">Editar Perfil</a>
  </div>
</div>
{% endblock %}
